/.metadata/
eclipse
*.log
.metadata
*.sh
/bin/
/.settings/

\.recommenders/

*.iml

*.xml

Projet_PLA/GamaParser-master/ricm3/parser/AutomataParser\.java

Projet_PLA/GamaParser-master/ricm3/parser/AutomataParserConstants\.java

Projet_PLA/GamaParser-master/ricm3/parser/AutomataParserTokenManager\.java

Projet_PLA/GamaParser-master/ricm3/parser/ParseException\.java

Projet_PLA/GamaParser-master/ricm3/parser/SimpleCharStream\.java

Projet_PLA/GamaParser-master/ricm3/parser/Token\.java

Projet_PLA/GamaParser-master/ricm3/parser/TokenMgrError\.java
